:root {
    --background-color: #ffffff;
    --text-color: #121212;
    --card-background: #f4f4f4;
    --card-border: #dddddd;
    --main-background: #ffffff;
    --main-box-shadow: rgba(0, 0, 0, 0.2);
    /* Link Colors */
    --link-color: #007bff;
    --link-visited-color: #5a5a5a;
}

[data-theme="dark"] {
    --background-color: #121212;
    --text-color: #ffffff;
    --card-background: #1e1e1e;
    --card-border: #333333;
    --main-background: #333333;
    --main-box-shadow: rgba(0, 0, 0, 0.6);

    /* Link Colors for Dark Theme */
    --link-color: #80b3ff;
    --link-visited-color: #cccccc;
}

body {
    font-family: 'Fira Code', monospace;
    font-size: 1.25rem;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    padding-top: 80px;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 120px;
    background-color: #333333;
    color: white;
    z-index: 1000;
    padding: 0 1rem;
    /* display: flex; */
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.header-title {
    margin: 0;
}

.header-chapter {
    margin: 0;
}

#header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2rem;
    margin-right: 2rem;
}

#header-controls {
    display: flex;
    gap: 1rem;
}

#font-size-buttons {
    display: flex;
    gap: 1rem;
}

nav {
    display: flex;
    gap: 1rem;
}

nav a {
    color: #007BFF;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.disabled-link {
    color: #AAAAAA;
    text-decoration: none;
    pointer-events: none;
    cursor: default;
}

main {
    max-width: 80ch;
    margin: 6rem auto 2rem;
    padding: 2rem;
    background-color: var(--main-background);
    box-shadow: 0 4px 10px var(--main-box-shadow);
    border-radius: 10px;
    position: relative;
    z-index: 1;
    text-align: justify;
}

main img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    /* Center the image if needed */
}

button {
    font-size: 0.9rem;
    padding: 0.4rem 0.8rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #AAAAAA;
    color: 333333;
}

button:hover {
    background-color: #555;
}

footer {
    font-size: 0.9rem;
    text-align: center;
    margin-top: 2rem;
    padding: 1rem;
    background-color: #333333;
    color: white;
}

hr {
    border: none;
    height: 2px;
    background: repeating-linear-gradient(to right, #ccc, #ccc 6px, transparent 6px, transparent 12px);
    margin: 20px auto;
}

.thick-hr {
    border: 2px solid gray;
    margin: 20px auto;
}

.word-counter {
    text-align: center;
    border-radius: 1px;
    margin: 0px;
}

/* Apply link colors */
main a {
    color: var(--link-color);
    text-decoration: none;
}

main a:visited {
    color: var(--link-visited-color);
}

main a:hover {
    text-decoration: underline;
}

.book-title {
    color: #fff;
    font-family: 'Orbitron', sans-serif;
    font-size: 5em;
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    background: linear-gradient(45deg, #00aaff, #ff00cc);
    background-clip: border-box;
    -webkit-background-clip: text;
    color: transparent;
    box-shadow: 0 0 30px rgba(0, 255, 255, 0.7), 0 0 60px rgba(255, 0, 255, 0.7);
    padding: 40px 0;
    margin-top: 50px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

.message {
    border-left: 3px solid #4444FF;
    padding-left: 15px;
    font-weight: bold;
    color: #88aaff;
}

section {
    text-align: justify;

    width: 80ch;
    margin-left: auto;
    margin-right: auto;
}

section img {
    max-width: 60%;
    height: auto;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

section strong {
    color: #ffcc00;
    text-decoration: none;
    font-weight: bold;
}
